# basic deps
grpcio==1.66.0
numpy>=1.22.0, <2 # FIXME: for SF compatibility
protobuf==5.27.3
cloudpickle>=2.0.0
multiprocess>=0.70.12.2
cachetools>=5.0.0
jax[cpu]==0.4.26 
termcolor>=2.0.0
pandas>=1.4.2
flax<0.10.0
scikit-learn<1.6.0
# LLVM
transformers[cpu]==4.31.0
# for tests
absl-py>=1.1.0
tensorflow-cpu>=2.12.0; sys_platform == "linux" and platform_machine == 'x86_64'
tensorflow>=2.12.0; sys_platform != "linux" or platform_machine != 'x86_64'
h5py!=3.11.0; platform_machine == 'aarch64'
